* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 1.6;
}
.page {
  display: none;
  width: 100%;
  margin: auto;
  text-align: center;
}
.page.active {
  display: block;
}
h1 {
  font-size: 5rem;
}
p,
input,
label {
  font-size: 1.25rem;
}
ul li {
  font-size: 5rem;
  list-style: none;
  display: inline-block;
  padding: 2%;
  margin: 2%;
  color: white;
  background-color: darkblue;
}

.formBox {
  margin: 2.5%;
}

#btnSend {
  margin-top: 2.5%;
  font-size: 1.25rem;
}

#btnBack {
  font-size: 1.25rem;
  margin-top: 2.5%;
  margin-bottom: 10%;
}

@media screen and (max-width: 340px) {
  h1 {
    font-size: 4rem;
  }
}